<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DOCH</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Italiana&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
	<style>
		.circle-cursor {
			z-index: 1;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #042f44dc; 
            position: absolute;
            pointer-events: none; 
			transition:  0.191s ease-out;
			
        }
		body{
			overflow:hidden;
			margin:0;
			cursor: none;
		}
		#bgimage{
			z-index: -1;
			max-width: 100%;
			width:100%;
			height:100%;
			max-height: 100%;  
			position: absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			transform:scale(1.4);
			opacity:0;
			animation:2s fadeIn ease-in-out;
		}
		@keyframes fadeIn {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
		
		.container{
			cursor: none;
			z-index: 0;
			position: absolute;
			left: 5.3%;
			top: 7.3%;
			width: 89vw;
			height: 86vh;
			border-radius: 19px;
			border: 2px solid rgba(255, 255, 255, 0.38);
			background: linear-gradient(110deg, rgba(36, 118, 148, 0.19) 9.98%, rgba(248, 161, 148, 0.19) 92.36%);
			box-shadow: 0px 4px 168.5px 0px rgba(0, 0, 0, 0.24);
			backdrop-filter: blur(19.799999237060547px);
			display: flex;
			justify-content: center;
			align-items: center;
			opacity:0;
			animation:2s fadeIn ease-in-out;
			
		}
		#d,#o,#c,#h{
			cursor: none;
			z-index: 3;
			color: #042F44;
			position:absolute;			
			font-family: 'Italiana', sans-serif;
			font-size: calc(4vw + 2rem);
			font-style: normal;
			font-weight: 400;
			transform:rotate(-90deg);
			margin:0px;
			opacity:1;
			border-radius:24px;
			transition:0.38s ease-in-out;
			animation:4s fadeIn ease-in;
		}
		#d{
			left:1%;
			top:35%;
		}
		#o{
			left:0.75%;
			top:25%;
		}
		#c{
			left:1%;
            top:15%;
		}
		#h{
			left:1%;
			top:5.5%;
		}
		.navbar{
			cursor: none;
			z-index: 2;
			position:absolute;
			display:flex;
			gap:24px;
			color: #042F44;
			font-weight:600;
			font-size: calc(0.75vw + 0.5rem);
			font-family: 'Italiana', sans-serif;
			position:absolute;
			right:2.5%;
			top:1.5%;
			transition: 0.29s ease-in-out;
			opacity:0;
			animation:4s fadeIn ease-in;

		}
		.navb {
			cursor: none;
			color: #042F44;
			transition: 0.35s ease-in-out;
			position: relative;
			transform-origin: left center;
		}

		.navb:hover {
			
			text-decoration: none; 
		}

		.navb::before {
			content: "";
			position: absolute;
			width: 0%;
			height: 0.6px;
			bottom: -0.6px; 
			left: 0%; 
			background-color: #042F44;
			visibility: hidden;
			transition: all .3s ease-in-out;
			transform-origin: left center;
		}

		.navb:hover::before {
			width: 100%;
			visibility: visible;
			transform-origin:center;
		}
				
		#bar{
			cursor: none;
			z-index: 1;
            height:calc(0.75vw + 15.5px	);
			width:2px;
			background-color: #042F44;
		}
		.about{
			cursor: none;
			z-index: 3;
			position:absolute;
			right:3%;
			top:60%;
			width:251px;
			/* height:200px; */
			color:#DEDCE1;
			animation:6s fadeIn ease-in;
			
		}
		#desc{
			cursor: none;
			z-index: 3;
			font-size:calc(0.75vw + 0.5rem);
			font-family: 'Italiana', sans-serif;
		}
		#craving{
			cursor: none;
			z-index: 3;
			font-size: calc(3vw + 2rem);
			position:absolute;
			right:15%;
			top:25%;
			font-family: 'Italianno', cursive;
			
		}
		.but{
			cursor: none;
			display:flex;
			z-index: 3;
			position:absolute;
			right:7%;
			gap:56px;
			top:86%;
			font-size:calc(0.75vw + 0.5rem);
			font-family: 'Italiana', sans-serif;
			color:#DEDCE1;
			animation:7.4s fadeIn ease-in;
		}
	</style>
</head>
<body>
	<img id="bgimage" src="https://cdn.discordapp.com/attachments/1181225884825419787/1193907469383127190/background.jpg?ex=65ae6bfa&is=659bf6fa&hm=3a8ef43b230b8ff08c13463e7afd213be9d3a17d870b40424f63a9b1202106d8&" alt="background">
	<div class="container">
		<div class="circle-cursor"></div>
		<div class="doch-letter" id="d">D</div>
		<div class="doch-letter" id="o">O</div>
		<div class="doch-letter" id="c">C</div>
		<div class="doch-letter" id="h">H</div>
		<div class="navbar">
			<p href="index.html" class="navb">Home</p>
            <p href="about.html" class="navb">About</p>
            <p href="contact.html" class="navb">Contact</p>
		</div>
		<div class="about">	
			<p id="desc">A small effort to guide souls to their </p><span id="craving">cravings</span>
		</div>
		<div class="but">
			<p id="tech">Tech</p>
			<p id="dom">Domestic</p>
		</div>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
	<script>

		document.addEventListener('DOMContentLoaded', function() {
            const circleCursor = document.querySelector('.circle-cursor');
			const dochLetters = document.querySelectorAll('.doch-letter');

			
            document.addEventListener('mousemove', function(e) {
                const x = e.clientX - window.innerWidth / 2;
                const y = e.clientY - innerHeight / 2; //same concept as parallax 
                circleCursor.style.transform = `translate(${x}px, ${y}px)`;
				const mouseX = e.clientX / window.innerWidth;
	            const mouseY = e.clientY / window.innerHeight;
				console.log(mouseX, mouseY);
                if (mouseX < 0.12 &&mouseX>0.053 && mouseY > 0.4 && mouseY<0.5) {
                   	const d=document.getElementById('d');
					d.style.color="#FFFFFF";
					o.style.color="#042F44";
					c.style.color = '#042F44';
					h.style.color = '#042F44';
					circleCursor.style.width = '80px';
                 	circleCursor.style.height = '80px';
                }else if(mouseX < 0.12 &&mouseX>0.053 && mouseY >0.3 &&mouseY<0.4){
					const o=document.getElementById('o');
					d.style.color = '#042F44';
					o.style.color="#FFFFFF";
					c.style.color = '#042F44';
					h.style.color = '#042F44';
					circleCursor.style.width = '80px';
                 	circleCursor.style.height = '80px';
				}else if(mouseX < 0.12 &&mouseX>0.053 && mouseY<0.3 && mouseY>0.2){
					const c=document.getElementById('c');
					c.style.color="#FFFFFF";
					d.style.color = '#042F44';
					h.style.color = '#042F44';
					o.style.color = '#042F44';
					circleCursor.style.width = '80px';
                 	circleCursor.style.height = '80px';
				}else if(mouseX < 0.12 &&mouseX>0.06 && mouseY<0.2 && mouseY>0.15){
					const h=document.getElementById('h');
                    h.style.color="#FFFFFF";
                    c.style.color = '#042F44';
                    d.style.color = '#042F44';
                    o.style.color = '#042F44';
                    circleCursor.style.width = '80px';
                    circleCursor.style.height = '80px';
				}
				 else {
					circleCursor.style.width = '25px';
                 	circleCursor.style.height = '25px';
                    d.style.color = '#042F44';
					o.style.color = '#042F44';
					c.style.color = '#042F44';
					h.style.color = '#042F44';
                }

            });
        });
        
        window.addEventListener('load', function () {
            var bgImage = document.getElementById('bgimage');
            bgImage.style.opacity = 1;
			var con=document.querySelectorAll('.container');
			con[0].style.opacity = 1;
			var navbar = document.querySelectorAll('.navbar');
			navbar[0].style.opacity=1;
			var dochh = document.getElementById('doch');
			dochh.style.opacity=1;
			var ab = document.querySelectorAll('.about');
			ab[0].style.opacity=1;
        });

		
    </script>
	
</body>
</html>
